name: Test action asdf-tools
on:
  push:
    branches:
    - __noop

jobs:
  asdf-tools-test:
    runs-on: ubuntu-22.04
    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

    - name: Install asdf tools in another directory
      uses: ./asdf-tools
      with:
        context: .github/workflows
        plugins: |
          mongodb=https://github.com/junminahn/asdf-mongodb.git
          docker-compose=https://github.com/virtualstaticvoid/asdf-docker-compose.git

    - name: Check Nodejs version via Yarn
      run: |
        yarn node -v | grep -q "v22.14.0"
      working-directory: .github/workflows
