name: Test action asdf-tools
on:
  push:
    branches:
    - __noop

jobs:
  asdf-tools-test:
    runs-on: ubuntu-22.04
    steps:
    - uses: hmarr/debug-action@f7318c783045ac39ed9bb497e22ce835fdafbfe6
    - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e

    - name: Install asdf tools in another directory
      uses: ./asdf-tools
      with:
        context: .github/workflows
        plugins: |
          mongodb=https://github.com/junminahn/asdf-mongodb.git
          docker-compose=https://github.com/virtualstaticvoid/asdf-docker-compose.git

    - name: Check Nodejs version via Yarn
      run: |
        yarn node -v | grep -q "v22.14.0"
      working-directory: .github/workflows
